[Unit]
Description=dotrs Sync Service
After=network.target

[Service]
EnvironmentFile=-/etc/default/dotrs
ExecStart=/usr/local/bin/dotrs start-service
KillMode=process
Restart=on-failure
Type=notify

[Install]
WantedBy=multi-user.target
